.heading{
    font-weight:bolder;
    font-size:48px;
}
.input-screen{
    width:50%;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    background-color:hsl(0, 0%, 0%, 100%);
    color:white;
    align-items:center;
    padding:2rem 5rem;
    gap:1rem;
}
.input-screen-wrapper{
    display:flex;
    flex-direction: column;
    gap:2rem;
    height:100%;
    flex-grow:1;
    max-width:600px;
}
.description{
    font-weight:400;
    font-size:20px;
}

.section-button{
    display:flex;
    padding:1rem;
    border-radius:10px;
    color:white;
    background-color:hsl(0,0%,15%,0%);
    width:100%;
}
.section-button img{
    width:40px;
    height:40px;
    filter:invert(1);
}