.heading{
    font-weight:bolder;
    font-size:48px;
}
.input-screen{
    display:flex;
    width:50%;
    flex-direction:column;
    min-height:100vh;
    background-color:hsl(0, 0%, 0%, 100%);
    color:white;
    align-items:center;
    padding:2rem 5rem;
    gap:1rem;
}
.input-screen-wrapper{
    display:flex;
    flex-direction: column;
    height:100%;
    gap:3rem;
    max-width:600px;
    flex-grow: 1;
}
header{
    display:flex;
    flex-direction: column;
    gap:1rem;
}
main{
    display:flex;
    flex-direction: column;
    flex-grow:1;
    gap:3rem;
}
.description{
    font-weight:400;
    font-size:20px;
}
.input-section{
    display:flex;
    flex-direction: column;
    gap:2rem;
}
.section-button{
    display:flex;
    padding:1.5rem;
    gap:1rem;
    border-radius:10px;
    color:white;
    background-color:hsl(0 0% 15%);
    width:100%;
    border:none;
    align-items:center;
}
.section-button h2{
    font-size:32px;
}
.section-icon{
    width:45px;
    height:45px;
    filter:invert(1);
}
.arrow-icon{
    height:45px;
    filter:invert(1);
    width:40px;
    margin-left: auto;
}
form{
    display:flex;
    flex-direction: column;
    padding:1.5rem;
    border-radius:10px;
    background-color:hsl(100 100% 100%);
    color:black;
    gap:1rem;
}
form label{
    display:flex;
    flex-direction: column;
    font-weight: bold;
    gap:0.5rem;
}
form input{
    background-color: hsl(0 0% 90%);
    border:none;
    border-radius: 4px;
    padding:4px;
}
.form-button-container{
    display:flex;
    gap:1rem;
}
form button{
    color:white;
    border:none;
    padding:4px 8px;
    border-radius:4px;
}
.delete-button{
    background-color:#FF0000;
    margin-right: auto;
}
.cancel-button{
    background-color:hsl(0 0% 15%);
}
.save-button{
    background-color: #1980F5;
}

.input-add-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    gap:0.5rem;
    max-width:180px;
    margin: 0 auto;
    padding:1rem 2rem;
    border-radius: 10px;
}

.input-add-button p{
    font-size:20px;
    font-weight: bold;
}

.input-add-button img{
    width:30px;
    height:30px;
}

