:root{
    --h2-weight:500;
    --p-italic-weight:300;
    --p-bold-weight:600;
    --h2-padding-bottom:0.2rem;
}

.preview-screen{
    flex-basis: 50%;
    background-color: hsl(0 0% 90%);
    padding:2rem;
    overflow: auto;
    height: 100%;
    min-height: 0;
    scrollbar-width: none;
}
.page{
    flex-grow:1;
    background-color: white;
    padding:2rem;
    margin: 0 auto;   
    height: 100%;
}
/* page header */
.page-header{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    margin-bottom:1rem;
}
.page-header h2{
    font-weight:var(--h2-weight);
}
.personal-info{
    display:flex;
    padding-bottom:1rem;
    border-bottom:1px solid black;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.personal-info > *{
    justify-content: center;
}
.personal-info > *:not(:last-child){
    padding-right:0.5rem;
    border-right:1px solid black;
}
.personal-info > *:not(:first-child){
    padding-left:0.5rem;
}
.personal-info .linkedin{
    flex-shrink: 0;
}
.personal-info img{
    width:25px;
    height:25px;
    flex-shrink: 0;
}
.personal-info p{
    font-size:clamp(0.8rem, 2vw,1rem)
}
/*eductaion section */
.education-preview h2{
    padding-bottom:var(--h2-padding-bottom);
    border-bottom:1px solid black;
    font-weight: var(--h2-weight)
}
.education-entry {
    display:flex;
    justify-content:space-between;
    margin-bottom:1rem;
    margin-top:1rem;
}
.education-entry .institution-details > :first-child{
    font-weight: var(--p-bold-weight);
}
.education-entry .institution-details > :nth-child(2){
    font-weight: var(--p-italic-weight);
    font-style:italic;
}
.education-entry .location-and-time-details > :first-child{
    font-weight: var(--p-bold-weight);
    text-align: end;
}
.education-entry .location-and-time-details > :nth-child(2){
    font-weight: var(--p-italic-weight);
    font-style:italic;
}

/*work experience section */
.work-experience-preview h2{
    padding-bottom:var(--h2-padding-bottom);
    border-bottom:1px solid black;
    font-weight: var(--h2-weight)
}
.work-experience-entry {
    display:flex;
    justify-content:space-between;
    margin-bottom:1rem;
    margin-top:1rem;
}
.work-experience-entry .work-experience-details > :first-child{
    font-weight: var(--p-bold-weight);
}
.work-experience-entry .work-experience-details > :nth-child(2){
    font-weight: var(--p-italic-weight);
    font-style:italic;
}
.job-task > :first-child{
    margin-right:0.4rem;
}
.work-experience-entry .location-and-time-details > :first-child{
    font-weight: var(--p-bold-weight);
    text-align: end;
}
.work-experience-entry .location-and-time-details > :nth-child(2){
    font-weight: var(--p-italic-weight);
    font-style:italic;
}
/*technical skills section*/
.technical-skills-preview h2{
    padding-bottom:var(--h2-padding-bottom);
    border-bottom:1px solid black;
    font-weight: var(--h2-weight)
}
.technical-skills-entry {
    display:flex;
    flex-direction: column;
    margin-top:1rem;
}
.technical-skills-entry > :first-child{
    font-weight: var(--p-bold-weight);
}
.technical-skill > :first-child{
    margin-right:0.4rem;
}
@media screen and (max-width: 950px) {
    #root{
        flex-direction: column;
        overflow:auto;
        scrollbar-width: none;
        height: auto;
    }
    .input-screen{
        overflow: unset;
        padding:2rem;
        
    }
    .preview-screen{
        overflow:unset;
    }
    .page{
        min-height: 1000px;
    }
    .entry{
        padding:1.4rem;
    }
}

@media screen and (max-width: 530px) {

.section-button{
    gap:0.5rem;
    justify-content: space-between;
    padding:1rem;
}
.input-screen h1{
    font-size:clamp(1.8rem, 4vw, var(--h1-font-size));
}
.section-icon{
    width:clamp(20px,2vw,45px);
    height:clamp(20px,2vw,45px);
    filter:invert(1);
}
.description{
      font-size:clamp(0.6rem,3vw,var(--p-description-font-size));
}
.input-screen{
    padding: 2rem;
}
 .page{
        min-height: 800px;
    }
.input-add-button{
    padding:0.8rem 1.6rem;
}

.preview-screen h2{
    font-size:16px;
}
.preview-screen p{
font-size:12px;
}
.graduation-date, .job-date{
width:100px;
display: flex;
text-align: end;
}
}